<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Material</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <%- include('./navbar.ejs', { activePage: 'cadastrarOcorrenciaMaterialAdm' }) %> 
    </header>

    <div class="titulo">
        <h1>Cadastro de Ocorrência</h1> <!-- Título da página -->
    </div>

    <div class="container">
        <form action="/cadastrarOcorrenciaMaterialAdm" method="post">


            <h2>Material</h2>
                <div class="indicacao-detalhes">
                <select id="material" name="material" required>
                    <% materiais.forEach((material)=> { %>
                        <option value="<%=material.cod_material %>">
                            <%=material.nome_material%>
                        </option>
                    <% }); %>
                </select>
            </div>

            <h2>Data</h2>
            <div class="indicacao-detalhes">
                <input type="date" name="data" id="data" placeholder="Data da ocorrência" required>
            </div>

            <h2>Detalhes</h2>
            <div class="indicacao-detalhes">
                <input type="text" name="detalhe" id="detalhe" placeholder="Detalhes da ocorrência" required>
            </div>

            <h2>Status</h2>
            <div class="indicacao-detalhes">
                <select name="status" id="status" required>
                    <option value="" disabled selected>Selecione o status</option>
                    <option value="0">Quebrado</option>
                    <option value="1">Consertado</option>
                    <option value="2">Em Manutenção</option>
                </select>
            </div>

        

            <!-- Botões de Voltar e Adicionar -->
            <div class="voltar-adicionar">
                <a href="/ocorrenciasMateriaisAdm" class="voltar-link">
                    <i class="fa fa-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="voltar-link">
                    <i class="fa fa-save"></i> Adicionar
                </button>
            </div>
        </form>
    </div>

    <!-- Rodapé -->
    <footer>
        <%- include('./footer.ejs', { activePage: 'cadastrarMaterialAdm' }) %>
    </footer>
</body>
</html>

<!-- Estilos para a página -->
<style>
    html, body {
        height: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #003366;
        color: white;
    }

    .container {
        margin: 20px auto;
        padding: 20px;
        color: black;
        background-color: aliceblue;
        border-radius: 10px;
    }

    .titulo {
        text-align: center;
        margin-top: 20px;
    }

    .titulo h1 {
        margin: 0;
        color: #ffffff;
    }

    .voltar-adicionar {
        margin: 20px 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .voltar-link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        background-color: #004080;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        border: 2px solid transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .voltar-link:hover {
        background-color: #003366;
        transform: scale(1.05);
    }

    .fa-arrow-left, .fa-save {
        margin-right: 8px;
    }

    .container h2 {
        color: #003366;
        margin: 10px 0px 0px 10px;
        font-size: 20px;
    }

    .indicacao-detalhes {
        width: 700px;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="date"],
    textarea,
    select {
        border-style: none;
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        resize: vertical;
    }

    textarea {
        height: 100px;
    }

    footer {
        text-align: center;
        color: #333;
        font-size: 0.9em;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
</style>