<div class="footer">
    <p>&copy; 2024 TCC. Todos os direitos reservados.</p> <!-- Texto do rodapé com a mensagem de direitos autorais -->
</div>

<style>
    /* Estilos para o rodapé */
    .footer {
        background-color: #fff; /* Define a cor de fundo do rodapé como branco */
        padding: 20px; /* Adiciona um espaço interno de 20px ao redor do conteúdo do rodapé */
        display: flex; /* Usa o layout flexbox para organizar o conteúdo do rodapé */
        justify-content: center; /* Centraliza horizontalmente o conteúdo do rodapé */
        align-items: center; /* Centraliza verticalmente o conteúdo do rodapé */
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra ao rodapé, criando uma pequena elevação */
        
        bottom: 0; /* Posiciona o rodapé na parte inferior da janela do navegador */
        width: 100%; /* Define a largura do rodapé como 100% da largura da janela */
        color: #333; /* Define a cor do texto como cinza escuro */
        font-size: 0.9em; /* Define o tamanho da fonte do texto como 90% do tamanho padrão */
        position: absolute;        
        bottom: 0;     
    }

    /* Estilos para o parágrafo dentro do rodapé */
    .footer p {
        margin: 0; /* Remove as margens do parágrafo, garantindo que ele esteja centralizado no rodapé */
    }
</style>