<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicações</title>

    <link rel="icon" href="./img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Estilos personalizados */
        nav {
            position: relative;
            z-index: 1000;
        }

        body {
            margin: 0;
            font-family: "Roboto", sans-serif;
            background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url('./img/foto_fundo.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        /* Navbar */
        header {
            position: relative;
            z-index: 1000;
        }

        /* Conteúdo principal */
        .container {
            position: relative;
            border-radius: 15px;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            flex-grow: 1;

        }

        .welcome-title {
            margin: 0;
            font-weight: bold;
            font-size: 36px;
            padding: 20px;
            border-bottom: 3px solid white;
            text-align: center;
            color: #fff;
            margin-right: 400px;
            margin-left: 400px;
        }

        /* Container dos cards */
        .card-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 10px 10px;
        }

        /* Estilos dos cards */
        .card {
            width: 100%;
            max-width: 300px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            height: 300px;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card-icon {
            font-size: 50px;
            color: #007bff;
            margin: 20px 0;
        }

        .card-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 20px;
        }

        .card-body h5 {
            margin-bottom: 35px;
            font-size: 1.25rem;
            font-weight: bold;
        }

        .card-body p {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .card-body a {
            text-decoration: none;
            color: white;
            background-color: #007bff;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .card-body a:hover {
            background-color: #0056b3;
        }

        footer {
            padding: 0px;
            text-align: center;
        }

        @media (max-width: 768px) {
            .card-body {
                padding: 15px;
            }
        }

        @media (max-width: 576px) {
            .card-body {
                padding: 10px;
            }
        }
    </style>
</head>
<header>
    <%- include('./navbar.ejs', { activePage: 'indicacaoAdm' }) %>
</header>
<body>
    
    <div class="container text-center">
        <!-- Título de boas-vindas -->
        <h1 class="welcome-title">Indicações</h1>

        <!-- Cards -->
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <i class="fas fa-calendar-alt card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Eventos</h5>
                    <p class="card-text">Indicações de eventos.</p>
                    <a href="/indicacoesEventosAdm" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-book card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Livros</h5>
                    <p class="card-text">Indicações de livros.</p>
                    <a href="/indicacoesLivrosAdm" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-archive card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Materiais</h5>
                    <p class="card-text">Indicações de materiais.</p>
                    <a href="/indicacoesMateriaisAdm" class="btn btn-primary">Acessar</a>
                </div>
            </div>           
           
        </div>
    </div>

    <footer>
        <%- include('./footer.ejs', { activePage: 'indicacaoAdm' }) %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
