<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/favicon-32x32.png" type="image/x-icon">
    <title>Bem Vindo!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Estilos personalizados */
        nav{
            position: relative;
            z-index: 1000;
        }

        body {
            margin: 0;
            font-family: "Roboto", sans-serif;
            background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url('./img/foto_fundo.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-attachment: fixed;
            overflow-x: hidden; /* Remove a rolagem horizontal */
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Faz o body ocupar toda a altura da tela */
        }

        .welcome-title {
            margin-bottom: 30px;
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            text-align: center; /* Centraliza o texto */
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
            gap: 20px;
            padding: 0 10px;
            margin-bottom: 20px;
            flex-grow: 1;
        }

        .card {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            height: 250px; /* Altura fixa para consistência */
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card-icon {
            font-size: 50px; /* Tamanho do ícone */
            color: #007bff; /* Cor do ícone */
            margin: 20px 0; /* Espaçamento acima e abaixo do ícone */
        }

        .card-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Espaça o conteúdo uniformemente */
            text-align: center;
            padding: 20px;
        }

        @media (max-width: 992px) {
            .card-container {
                grid-template-columns: repeat(1, 1fr); /* Em telas menores, uma única coluna */
            }
        }

        .card-body h5 {
            margin-bottom: 15px; /* Ajuste a margem */
        }

        .card-body p {
            margin-top: 0;
            margin-bottom: 0; /* Remove o espaçamento inferior */
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        @media (max-width: 768px) {
            .card-body {
                padding: 15px;
            }
        }

        @media (max-width: 576px) {
            .card-body {
                padding: 10px;
            }
        }

        .container {
            border-radius: 15px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center; /* Centraliza os itens na horizontal */
            justify-content: flex-start; /* Mantém os itens no topo */
            flex-grow: 1; /* Permite que a container cresça e ocupe espaço disponível */
        }

        .my-5 {
            margin-top: 60px;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <%- include('./navbarPagInicial.ejs', { activePage: 'pagInicial' }) %>
        </div>
    </header>

    <div class="container">
        <!-- Título de boas-vindas -->
        <h1 class="welcome-title">Bem-vindo <%= nome %>!</h1>

        <!-- Cards -->
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <i class="fas fa-file-alt card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Solicitações</h5>
                    <p class="card-text">Confira as Solicitações</p>
                    <a href="/solicitacoesAluno" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <i class="fas fa-calendar-alt card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Eventos</h5>
                    <p class="card-text">Confira os eventos Disponíveis</p>
                    <a href="/eventosAluno" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card">
                <i class="fas fa-book card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Livros</h5>
                    <p class="card-text">Confira e indique Livros</p>
                    <a href="/livrosAluno" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card">
                <i class="fas fa-box-open card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Materiais</h5>
                    <p class="card-text">Confira os Materiais Disponíveis</p>
                    <a href="/materiaisAluno" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="card">
                <i class="fas fa-exclamation-triangle card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Ocorrências</h5>
                    <p class="card-text">Faça ocorrências</p>
                    <a href="/ocorrenciasAluno" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <!-- Card 6 (com altura igual) -->
            <div class="card">
                <i class="fas fa-search-plus card-icon"></i>
                <div class="card-body">
                    <h5 class="card-title">Indicações</h5>
                    <p class="card-text">Confira as indicações</p>
                    <a href="/indicacoesAluno" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <%- include('./footer.ejs', { activePage: 'pagInicial' }) %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="scripts.js"></script>
</body>

</html>