<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patrim么nio</title>
    <link rel="icon" href="./img/favicon-32x32.png" type="image/x-icon">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #193361;
            color: white;
            overflow-x: hidden;
        }

        .container {
            flex: 1;
            max-width: 70%;
            margin: 0 auto;
            padding: 20px;
            width: 80%; /* Ocupa 80% da largura em telas grandes */
            min-height: calc(100vh - 60px);
        }

        footer {
            background: #193361;
            padding: 0;
            text-align: center;
        }

        .titulo {
            border-bottom: 3px solid white;
            margin-bottom: 20px;
            text-align: center;
            color: #fff;
        }

        .titulo h1 {
            font-weight: bold;
            font-size: 36px;
            margin: 0;
            padding: 20px;
        }

        .botao-indicacao-pesquisa {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        .adicionar-indicacao {
            height: 50px;
            font-size: 20px;
            padding: 2px 20px;
            background: none;
            color: #fff;
            border-radius: 10px;
            border: 2px solid #ffffff;
            transition: 0.6s;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .adicionar-indicacao:hover {
            background-color: #2d3f52;
            color: #fff;
            border: 2px solid white;
        }

        .search-bar {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 300px;
        }

        .search-bar input {
            padding: 16px;
            border-radius: 5px 0 0 5px;
            border: none;
            width: 200px;
            font-size: 16px;
        }

        .search-icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: rgb(151, 151, 151);
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border: none;
        }

        .search-icon-box i {
            color: #ffffff;
        }

        .search-icon-box:hover {
            background-color: rgb(94, 94, 94);
        }

        .list-group {
            margin-bottom: 20px;
        }

        .list-group-item {
            background-color: #ffffff;
            color: #003366;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 15px;
            transition: background-color 0.3s;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .list-group-item:hover {
            background-color: #e9ecef;
        }

        .botao-ver {
            background-color: #003366;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .botao-ver:hover {
            background-color: #002244;
        }

        /* Responsivo para telas menores */
        @media (max-width: 1024px) {
            .container {
                width: 90%;
            }
        }

        @media (max-width: 768px) {
            .container {
                width: 100%;
                padding: 10px;
            }

            .botao-indicacao-pesquisa {
                flex-direction: column;
                margin-top: 20px;
            }

            .search-bar {
                margin-top: 10px;
                width: 100%;
            }

            .adicionar-indicacao {
                width: 100%;
            }

            .search-bar input {
                width: calc(100% - 50px);
                font-size: 14px;
            }

            .list-group-item {
                flex-direction: column;
                align-items: flex-start;
            }

            .botao-ver {
                margin-top: 10px;
                width: 100%;
            }
        }

        @media (max-width: 480px) {
            .titulo h1 {
                font-size: 28px;
            }

            .adicionar-indicacao {
                font-size: 16px;
                padding: 5px 15px;
            }

            .search-bar input {
                font-size: 14px;
            }

            .list-group-item {
                padding: 10px;
            }

            .botao-ver {
                font-size: 14px;
                padding: 8px 15px;
            }
        }

        nav {
            position: relative;
            z-index: 1000;
        }
    </style>
</head>

<body>
    <header>
        <%- include('./navbar.ejs', { activePage: 'patrimonioAdm' }) %>
    </header>

    <div class="container">
        <div class="titulo">
            <h1>Patrim么nios</h1>
        </div>

        <div class="botao-indicacao-pesquisa">
            <form action="/adicionarPatrimonioAdm" method="GET">
                <button class="adicionar-indicacao">Cadastrar Patrim么nios</button>
            </form>
            <form action="/pesquisarPatrimonioAdm" method="GET">
                <div class="search-bar">
                    <input type="text" id="search-input" name="pesquisa" placeholder="Pesquisar">
                    <button type="submit" class="search-icon-box">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="list-group">
            <% if (patrimonio.length === 0) { %>
                <div class="sem-resultados text-center text-white">
                    <p>Nenhum patrim么nio encontrado.</p>
                </div>
            <% } else { %>
                <% patrimonio.forEach((item) => { %>
                    <div class="list-group-item">
                        <div>
                            <h5 class="titulo-usuario"><%= item.nome_patrimonio %></h5>

                        </div>
                        <form action="/infoPatrimonioAdm" method="GET">
                            <input type="hidden" name="cod_patrimonio" value="<%= item.cod_patrimonio %>">
                            <button class="botao-ver" type="submit">Detalhes</button>
                        </form>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>

    <footer>
        <%- include('./footer.ejs', { activePage: 'patrimonioAdm' }) %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+1QKtv3Rn7W3mgPxhU9K/ScQsAP7W3HibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh