<!-- Navbar -->
<div class="navbar">
    <img src="/img/aapm_logo_cortada.png" alt="Logo da navbar" class="logo">
</div>
<style>
    .navbar {
        background-color: #fff;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar img.logo {
        height: 50px;
        margin-left: 40px;
    }
</style>